*.class
.metadata
RemoteSystemsTempFiles
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/.project
/.classpath
/target/
/log4j-application.log
/log4j-application.log.1
/log4j-application.log.2
/log4j-application.log.3
/log4j-application.log.4
/.settings/
